<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Lime Tree Cottage - Home</title>
<link rel="stylesheet" href="css/style.css">
<meta name="verify-v1" content="qwvNOoLlT9FjcKTYexleRVcruUsHAKwCZrcEdPbL+tk=">
</head>
<body bgcolor="#E6E3CF" style="margin:5px">
<script language="javascript" type="text/javascript">
          function over_block(block_num,over) {
          my_block = document.getElementById("menu_"+block_num);
          if (over==1) {
          my_block.style.background = "#80C9FF";
          } else {
          my_block.style.background = "white";
          }
          }
        </script><p align="center"><table width="750" cellspacing="0" cellpadding="0" border="0">
<tr>
<td rowspan="3" width="169" height="126"><img src="img/corner_image.gif" width="169" height="126"></td>
<td class="vspacer" rowspan="3"> </td>
<td valign="top" colspan="11"><table cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
<td width="100%" style="border:1px solid #000000;background:#FFFFFF;text-align:center"><img src="img/title3.gif" width="454" height="99"></td>
<td class="vspacer">&nbsp;</td>
<td width="65"><img src="img/corner_award.png" width="65" height="101"></td>
</tr></table></td>
</tr>
<tr><td class="hspacer" colspan="11"></td></tr>
<tr valign="bottom">
<td><a href="index"><div id="menu_0" class="selmenublock">Home</div></a></td>
<td class="vspacer"> </td>
<td><a href="gallery"><div id="menu_1" class="menublock" onmouseover="over_block('1',1)" onmouseout="over_block('1',0)">Gallery</div></a></td>
<td class="vspacer"> </td>
<td><a href="info"><div id="menu_2" class="menublock" onmouseover="over_block('2',1)" onmouseout="over_block('2',0)">Tourist Info</div></a></td>
<td class="vspacer"> </td>
<td><a href="details"><div id="menu_3" class="menublock" onmouseover="over_block('3',1)" onmouseout="over_block('3',0)">Cottage Details</div></a></td>
<td class="vspacer"> </td>
<td><a href="bookings"><div id="menu_4" class="menublock" onmouseover="over_block('4',1)" onmouseout="over_block('4',0)">Bookings</div></a></td>
<td class="vspacer"> </td>
<td><a href="about"><div id="menu_5" class="menublock" onmouseover="over_block('5',1)" onmouseout="over_block('5',0)">About Us</div></a></td>
</tr>
<tr><td class="hspacer" colspan="13"></td></tr>
<tr><td class="mainpageblock" colspan="13">
  
  {{ content }}
  
</td></tr>
<tr><td class="hspacer" colspan="13"></td></tr>
<tr><td class="addressblock" colspan="13"><p align="right" class="smalltxt">4 Lime Tree Cottages, Pilgrims' Way,<br>Lenham, KENT. ME17 2EY<br>Tel: (01622) 851310<br>Mob: (07777) 661716<br><a href="mailto:stella_hasler@hotmail.com">stella_hasler@hotmail.com</a></p></td></tr>
<tr><td style="font-size:1pt" colspan="13"><table height="6" cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
<td><img src="img/left_bottom_corner.gif" width="6" height="6"></td>
<td width="100%" class="bottomedge"> </td>
<td><img src="img/right_bottom_corner.gif" width="6" height="6"></td>
</tr></table></td></tr>
</table></p>
<script type="text/javascript">
          var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
          document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
          var pageTracker = _gat._getTracker("UA-3410053-3");
          pageTracker._initData();
          pageTracker._trackPageview();
        </script><noscript><img border="0" src="http://www.google-analytics.com/__utm.gif?utmwv=3&amp;utmn=9077932074&amp;utme=&amp;utmcs=-&amp;utmsr=-&amp;utmsc=-&amp;utmul=-&amp;utmje=0&amp;utmfl=-&amp;utmdt=-&amp;utmhn=kentcottage.com&amp;utmhid=9077932074&amp;utmr=http://kentcottage.com/bookings.php&amp;utmp=/nojs/index.php&amp;utmac=UA-3410053-3&amp;utmcc=__utma%3D30023346.1367581737.1470685339.1470685339.1470685339.2%3B%2B__utmz%3D30023346.1470685339.2.2.utmcsr%3D(direct)%7Cutmccn%3D(direct)%7Cutmcmd%3D(none)%3B%2B__utmv%3D30023346.-%3B"></noscript>
</body>
</html>
